
@font-face {
    font-family: "Suisse Intl";
    src: url("SuisseIntl-Regular.otf"),
   url("SuisseIntl-Regular.otf") format("embedded-opentype"),
   url("SuisseIntl-Regular.otf") format("truetype"),
   url("SuisseIntl-Regular.otf") format("woff"),
   url("SuisseIntl-Regular.otf") format("woff2"),
   url("SuisseIntl-Regular.otf") format("svg"),
   url("SuisseIntl-Regular.woff2") format("woff2"),
   url("SuisseIntl-Regular.woff"),
   local("Suisse Intl");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
    
  body {
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: "Suisse Intl";
    box-sizing: content-box;
    scrollbar-width: none;
   
  }


    
    #header{
    font-family: "Suisse Intl";
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height: 5%;
    margin-bottom: 2%;
    font-size: 1.8vw;
   
    z-index: 50;

   }

  

    #simboli{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0;
    height:auto;
    z-index: 40;
    padding: 0.4vw; }

    #simboli:hover{
      filter: blur(1);
    }


    #tabellagen{
        font-family: "Suisse Intl";
        position: static;
        margin-bottom: 5%;
        font-size: 2vw;
        padding: 0.01vw; }


    #tabella1 {
    font-family: "Suisse Intl";
    background-color: #white;
    color: black; 
    font-size: 1.5vw;
    padding: 5px; 
    border-bottom: 2px solid black;}

    #tabella1:hover {    
        background-color: #eeeeee;
        }

    #footer{
        font-family: "Suisse Intl";
        position: fixed; /* Set the navbar to fixed position */
        bottom: 0%; /* Position the navbar at the top of the page */
        margin-top: 10%;
        margin-bottom: 0%;
        width: 100%;
        height: 5%;
        font-size: 2vw;
        z-index: 100;
        background-color: #FF4400;}
    }

